:root {
    --background-primary: #112233;
    --background-secondary: #112233;

    --color-primary: #e1e1e1;
    --color-secondary: #c9c9c9;

    font-family: "Montserat",sans-serif;
}

body {
    margin:0;
    padding:0;

    background-color: var(--background-primary);
    color: var(--color-primary);
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.heading {
    display:none;
    height: 10%;
    width: 100%;
}

.fullscreen {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.reloadConfig {
    position: absolute;
    right: 10px;
    top: 68px;
    z-index: 10;
}

.settings {
    position: absolute;
    right: 10px;
    top: 126px;
    z-index: 10;
    height: 48px;
    width: 48px;
    text-align: center;
}
.container {
    background-color: var(--background-primary);
    color: var(--color-primary);
    height: 100vh;
    width: 95vw;
    position: absolute;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.center {
    text-align: center;
}

.inline-block > * {
    display:inline-block;
}

.row {
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

.item {
    display: inline-block;
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    width: repeat(auto-fill, minmax(100px, 1fr));
    height: width;
    margin: 0 10px;
    position: relative;
    /*font-size: 1.45ch;*/
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.item span.text {
    position: absolute;
    text-align: center;
    width: 100%;
    left:0;
    color: attr(color);
}

.item[data-text-position="Bottom"] span.text {
    bottom:5px;
}

.item[data-text-position="Middle"] span.text {
    bottom: 50%;
    transform:translateY(50%);
}

.item[data-text-position="Top"] span.text {
    top:5px
}

.item[data-text-color="Dark"] span.text {
    color:#000
}

.item[data-text-position="Light"] span.text {
    color:#fff;
}